.footer {
    background-color: #2E251C;
}
.footer__wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 6.1rem;
    padding-bottom: 4.8rem;
    color: rgba(230, 224, 221, .5);
}
.footer a {
    color: rgba(230, 224, 221, .5);
}
.footer__left {
    text-align: center;
}
.footer__right {
    margin-top: 4.8rem;
}
.footer__input {
    display: flex;
    justify-content: space-between;
    padding-bottom: .9rem;
    border-bottom: 1px solid #B1A7A2;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.footer__input input {
    background: transparent;
    color: #E6E0DD;
    border: none;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0;
    outline: none;
}
.footer__input button {
    padding: 0;
    background: transparent;
    border: none;
    color: #EBCDC3;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    font-family: 'wotfardMedium';
}
.footer__top-left-content {
    font-size: 1.2rem;
}
.footer__top-right {
    margin-top: 4rem;
}
.footer__heading {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #EBCDC3;
}
.social__icons {
    display: flex;
    margin-top: 2.4rem;
}
.social__icon {
    margin-right: 3.7rem;
}
.social__icon:last-child {
    margin-right: 0;
}
.social__icon svg {
    width: 2.4rem;
}
.footer__bottom {
    margin-top: 5rem;
}
.footer__links {
    margin-bottom: 4.1rem;
}
.footer__links .footer__heading {
    position: relative;
    margin-bottom: 1.6rem;
}
.footer__link .footer__heading::after {
    content: "";
    width: .7rem;
    height: .7rem;
    border-left: .1rem solid;
    border-top: .1rem solid;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-135deg);
    transition: transform 0.3s ease-out;
}
.footer__link .active::after {
    transform: rotate(45deg);
}
.footer__item {
    font-size: 1.4rem;
    line-height: 3.2rem;
}
.footer--shop ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 21.4rem;
}
.footer--about-us {
    margin: 3.2rem 0;
}
.footer__list-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.footer__copyright {
    font-size: 1.3rem;
    line-height: 3.2rem;
    text-align: center;
}
.terms {
    margin-right: 3rem;
}
@media (min-width:1024px) {
    .footer {
        width: 100%;
    }
    .footer__wrapper {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-top: 12rem;
        padding-bottom: 4rem;
    }
    .footer__left {
        margin-left: 2.1rem;
        margin-right: 15.4rem;
    }
    .footer__right {
        margin-top: 0;
    }
    .footer__top {
        display: flex;
    }
    .footer__top-left {
        width: 41rem;
    }
    .footer__top-right {
        margin-top: 0;
        margin-left: 14rem;
    }
    .social__icons {
        display: inline-block;
    }
    .footer__bottom {
        margin-top: 6.4rem;
    }
    .footer__links {
        display: flex;
        margin-bottom: 6.4rem;
    }
    .footer--shop {
        width: 29rem;
        height: 22.4rem;
    }
    .footer__links .footer__heading::after {
        display: none;
    }
    .footer--about-us {
        margin: 0 17.4rem;
    }
    .footer__copyright {
        font-size: 1.3rem;
        text-align: left;
    }
    .terms {
        margin-left: 3rem;
        margin-right: 3.6rem;
    }
}