@font-face {
    font-family: "wotfardMedium";
    src: url(./../assets/Wotfard_Roman_Webfont/wotfard-medium-webfont.ttf) format('truetype')

}
/* design for mobile devices */

.header {
    display: flex;
    padding: 0 20px;
    height: 64px;
    background-color: #2E251C;
    align-items: center;
    justify-content: space-between;
}
.navigation--desktop {
    display: none;
}
.navigation__hamburgerIcon, .navigation__hamburgerIcon::before, .navigation__hamburgerIcon::after {
    width: 14px;
    border: 0.5px solid white;
    border-radius: 1px;
}
.navigation__hamburgerIcon {
    position: relative;
    display: inline-block;
}
.navigation__hamburgerIcon::before {
    content: '';
    position: absolute;
    bottom: 8px;
    right: -1px;
}
.navigation__hamburgerIcon::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: -1px;
}
.navigation__slider {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    max-width: 250px;
    width: 100%;
    height: 100vh;
    background: #5d4329;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
}
.isShown {
    transform: translateX(0);
}
.navigation--close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    color: white;
    transform: rotate(45deg);
}
.navigation__listItem {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-family: 'wotfardMedium';
    letter-spacing: 2.15px;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    padding: 5px;
}
.navigation--hasDropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 4px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
}
.logo__icon {
    width: 161px;
    height: 13px;
}
.headerIcons {
    text-align: end;
}
.headerIcons li {
    display: inline;
}
.headerIcons--account {
    display: none;
}
.search__icon, .account__icon {
    width: 16px;
    height: 15px;
}
.bag__icon {
    width: 16px;
    height: 16px;
}
.headerIcons__icon {
    margin-right: 11px;
    margin-left: 1px;
}
.headerIcons--bag {
    margin-right: -4px;
}
.hasItems {
    position: relative;
    top: -3px;
    right: 3px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #E67A62;
    vertical-align: top;
}

@media (min-width: 768px) {
    .header {
        padding: 0 40px;
        height: 70px;
        justify-content: unset;
    }
    .header__left, .header__center, .header__right {
        flex-basis: 33.3%;
    }
    .navigation__hamburgerIcon {
        width: 24px;
        border-width: 2px;
    }
    .navigation__hamburgerIcon::before {
        bottom: 8px;
        right: -2px;
        width: 24px;
        border-width: 2px;
    }
    .navigation__hamburgerIcon::after {
        top: 8px;
        right: -2px;
        width: 24px;
        border-width: 2px;
    }
    .header__center {
        text-align: center;
    }
    .logo__icon {
        width: 180px;
        height: 15px;
    }
    .headerIcons__icon {
        margin-right: 25px;
    }
}
/* design for desktop min-width 1200px */
@media (min-width: 1024px) {
    .header {
        padding: 0 60px;
        height: 80px;
    }
    .navigation--mobile {
        display: none;
    }
    .navigation--desktop {
        display: block;
    }
    .navigation__link {
        position: relative;
        margin-right: 28px;
        font-size: 12px;
        letter-spacing: 1.5px;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-family: "wotfardMedium";
    }
    .navigation__link:last-child {
        margin-right: 0;
    }
    .logo__icon {
        width: 200px;
        height: 17px;
    }
    .headerIcons__icon {
        margin-right: 50px;
    }
    .headerIcons--account {
        display: inline;
    }
}

/* header design for desktop width 1440px */
@media (min-width: 1200px) {
    .header {
        padding: 0 72px;
        height: 99px;
    }
    .header__left, .header__center, .header__right {
        flex-basis: 33.3%;
    }
    /* left header and desktop navigation styles */
    .navigation__link {
        margin-right: 33px;
        font-size: 14px;
        letter-spacing: 2.15px;
    }
    /* logo design and position */
    .logo__icon {
        width: 234px;
        height: 19px;
    }
    /* left header icon styles */
    .headerIcons__icon {
        margin-right: 55px;
    }
    .headerIcons--bag {
        margin-right: 0;
    }
    .search__icon, .account__icon, .bag__icon {
        width: 16px;
        height: 23px;
    }
}


