@font-face {
    font-family: "wotfardMedium";
    src: url(./../assets/Wotfard_Roman_Webfont/wotfard-medium-webfont.ttf) format('truetype')

}
/* header design for desktop width 1440px */
.header {
    margin: auto;
    max-width: 1440px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
    height: 99px;
    background-color: #2E251C;
    align-items: center;
}
.header__center {
    position: absolute;
    left: 50%;
    display: inline-flex;
    transform: translateX(-50%);
}
.logo {
    display: inline-flex;
}
.logoIcon {
    width: 234px;
    height: 19px;
}
.navigation {
    display: flex;
}
.navigation__item {
    display: inline-flex;
    margin-right: 33px;
}
.navigation__item:nth-child(2) {
    margin-right: 30px;
}
.navigation__link {
    display: inline-flex;
    line-height: 13px;
    font-size: 14px;
    letter-spacing: 2.15px;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: "wotfardMedium";
}
.hasDropdown::after {
    display: inline-block;
    margin-left: 4px;
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
}
.headerIcons {
    display: flex;
}
.headerIcon {
    padding-right: 55px;
}
.headerIcon--bag {
    padding-right: 0;
}
.search__icon, .account__icon, .bag__icon {
    width: 16px;
    height: 16px;
}
