
.hero-ritual {
    position: relative;
    overflow: hidden;
    background-image: url(/img/ritual_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero {
    margin-top: 4rem;
    margin-left: 2rem;
}
.hero span {
    display: block;
    margin-bottom: 1rem;
    font-family: "wotfardRegular";
    font-size: clamp(1.2rem, 3.7vw, 6.4rem);;
    text-transform: uppercase;
    line-height: clamp(1.2rem, 3.7vw, 8.1rem);
}

.button {
    --top-bottom: clamp(.7rem, 2vw, 1.6rem);
    --left-right: clamp(3.1rem, 4vw, 4.9rem);
    padding: var(--top-bottom) var(--left-right);
    margin-top: clamp(3.6rem, 5vw, 5.3rem);
    margin-bottom: 4rem;
    border: .1rem solid #F48065;
    font-size: clamp(1rem, 3vw, 1.4rem);
    line-height: 1.6rem;
    letter-spacing: clamp(.15rem, .3vw, .2rem);
}
.hero__media {
    margin-top: .8rem;
}
.hero__mediaRight {
    display: block;
    margin-left: auto;
    width: calc(100% - 5.6rem);
    max-width: 92.5rem;
}
.hero__mediaLeft {
    position: relative;
    margin-top: -4rem;
    width: calc(100% - 16.9rem);
    max-width: 41rem;
}
.ritual {
    margin-top: 3.3rem;
    margin-left: 3.6rem;
    margin-right: 3.6rem;
    margin-bottom: 33.9rem;
    text-align: center;
}
.ritual__header {
    text-align: center;
    margin-bottom: 4rem;
}
.ritual__heading {
    line-height: 3.7rem;
    margin-bottom: 2.2rem;
}
.ritual__item {
    margin-bottom: 4rem;
    overflow: hidden;
}
.ritual__item:last-child .ritual__item-content .ritual__item-heading {
    line-height: 2rem;
}
.ritua__img {
    width: 100%;
    max-width: 35.6rem;
    transition: transform 0.5s ease-in-out;
}
.ritual__item-content {
    text-align: left;
    margin-top: 1.3rem; 
    /* margin-top: 1.6rem; */
    margin-left: .7rem;
}
.star {
    width: 1rem;
    height: .93rem;
}
.ritual__item-rating {
    line-height: 1.9rem;
    margin-left: .2rem;
    margin-bottom: .8rem;
    /* margin-bottom: .5rem; */
}
.ritual__item-rating span {
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.ritual__item-heading {
    /* margin-bottom: .4rem; */
    margin-bottom: .7rem;
    line-height: 1.6rem;
}
.ritual__item-price {
    font-family: 'wotfardMedium';
    font-size: 1.2rem;
}
.ritual__item-button {
    margin-left: .6rem;
    font-size: 1.2rem;
    color: #F48065;
    letter-spacing: .105rem;
    border: none;
    background: transparent;
    font-family: 'wotfardMedium';
    text-transform: uppercase;
}


@media (min-width:576px) {
    .hero {
        margin-top: 6rem;
        margin-left: 4rem;
    }
    .ritual__item-content {
        text-align: center;
    }
}
@media (min-width:768px) {
    .hero {
        margin-top: 8rem;
        margin-left: 7rem;
    }
    .hero span {
        font-family: "ivyModeLight";
        text-transform: capitalize;
    }
    .hero__media {
        margin-top: 0;
    }
    .ritual__list {
        display: flex;
        margin: 0 auto;
        max-width: calc(357*.3rem);
    }
    .ritual__item-content {
        margin-top: 2.4rem;
        margin-left: 2.3rem;
        text-align: left;
    }
    .ritual__item-heading {
        margin-bottom: .8rem;
    }
}
@media (min-width:1024px) {
    .hero {
        margin-top: 10.8rem;
        margin-left: 11rem;
    }
    .hero span {
        margin-bottom: 0;
    }
    .hero span::after {
        content: ":";
    }
    .hero__mediaLeft {
        margin-top: -84.8rem;
        margin-left: 5.4rem;
    }
    .ritual {
        margin-top: 13.8rem;
        margin-bottom: 14.3rem;
    }
    .ritual__header {
        margin-bottom: 8rem;
    }
    .ritual__heading {
        margin-bottom: 5.1rem;
        line-height: 6.4rem;
    }
    .ritual__item-media {
        overflow: hidden;
    }
    .ritual__item:hover .ritua__img {
        transform: scale(1.1);
    }
    .ritual__item:last-child .ritual__item-content .ritual__item-heading {
        line-height: 1.6rem;
        
    }
}
@media (min-width: 1300px) {
    .hero {
        margin-left: 13.1rem;
    }
}
@media (min-width:1366px) {
    .hero span {
        font-size: 6.4rem;
        line-height: 8.1rem;
    }
}