@font-face {
    font-family: "wotfardRegular";
    src: url(/assets/Wotfard_Roman_Webfont/wotfard-regular-webfont.ttf);
}
@font-face {
    font-family: "ivyModeLight";
    src: url(/assets/IvyMode_Font/IvyModeLight/IvyModeLight.otf);
}

.heroRitual {
    position: relative;
    overflow: hidden;
}
.heroRitual::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(-19deg);
    background-image: url("/img/ritual_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero {
    margin-top: 40px;
    margin-left: 20px;
}
.hero__pureRadiance {
    font-family: "wotfardRegular";
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 12px;
}
.hero__exfoliating {
    font-family: "ivyModeLight";
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 54px;
}
.hero__shop {
    padding: 7px 31px;
    margin-top: 36px;
    margin-bottom: 48px;
    font-family: 'wotfardRegular';
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 1px solid #F48065;
    outline: none;
    line-height: 16px;
    background: white;
}
.hero__banner {
    display: block;
    margin-left: auto;
    width: calc(100% - 56px);
    max-width: 925px;
}
.hero__product {
    position: relative;
    margin-top: -40px;
    width: calc(100% - 169px);
    max-width: 410px;
}
.ourRitual {
    margin: 33px 36px;
}
.ourRitual__top {
    text-align: center;
}
.ourRitual__heading {
    font-family: 'ivyModeLight';
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 16px;
}
.ourRitual__subHeading {
    font-family: 'wotfardRegular';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid #F48065;
    margin-bottom: 40px;
    display: inline-block;
}
.OurRitual__item {
    margin-bottom: 38px;
}
.item__img {
    width: 100%;
    max-width: 356px;
}
.item__detail {
    text-align: left;
    margin-top: 16px;
    margin-left: 7px;
}
.star {
    width: 10px;
    height: 9.3px;
}
.item__rating {
    line-height: 19px;
    margin-left: 2px;
    margin-bottom: 5px;
}
.item__rating span {
    font-family: "wotfardRegular";
    font-size: 11px;
    line-height: 16px;
}
.item__name {
    margin-bottom: 4px;
    font-family: 'wotfardRegular';
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.08px;
}
.item__price {
    font-family: 'wotfardMedium';
    font-size: 12px;
}
.item__add {
    margin-left: 6px;
    font-family: 'wotfardMedium';
    text-transform: uppercase;
    font-size: 12px;
    color: #F48065;
    letter-spacing: 1.05px;
}


@media (min-width:576px) {
    .hero {
        margin-top: 60px;
        margin-left: 40px;
    }
    .hero__pureRadiance {
        font-size: 25px;
    }
}
@media (min-width:768px) {
    .hero {
        margin-top: 80px;
        margin-left: 70px;
    }
    .hero__pureRadiance {
        font-family: "ivyModeLight";
        font-size: 48px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    .hero__shop {
        padding: 17px 48px;
        font-size: 14px;
    }
    .ourRitual__list {
        display: flex;
        margin: 0 auto;
        max-width: calc(356*3px);
    }
}
@media (min-width:1024px) {
    .heroRitual::before {
        transform: rotate(4deg);
    }
    .hero {
        margin-top: 108px;
        margin-left: 110px;
    }
    .hero__pureRadiance, .hero__exfoliating {
        font-size: 64px;
    }
    .hero__pureRadiance::after {
        content: ":";
    }
    .hero__product {
        margin-top: -616px;
    }
    .hero__banner {
        transform: scale(1);
    }
    .ourRitual {
        margin-top: 158px;
        padding-bottom: 180px;
    }
    .ourRitual__heading {
        font-size: 48px;
        margin-bottom: 51px;
        letter-spacing: 1.5px;
    }
    .ourRitual__subHeading {
        font-size: 12px;
        margin-bottom: 80px;
        letter-spacing: 2px;
    }
}
@media (min-width: 1300px) {
    .hero {
        margin-left: 131px;
    }
}
