
.hero-ritual {
    position: relative;
    overflow: hidden;
    background-image: url(/img/ritual_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero {
    margin-top: 40px;
    margin-left: 20px;
}
.hero span {
    display: block;
    margin-bottom: 10px;
    font-family: "wotfardRegular";
    font-size: clamp(1.2rem, 4vw, 6.4rem);;
    text-transform: uppercase;
    line-height: clamp(1.2rem, 5vw, 8.1rem);
}

.button {
    --top-bottom: clamp(.7rem, 2vw, 1.6rem);
    --left-right: clamp(3.1rem, 4vw, 4.9rem);
    padding: var(--top-bottom) var(--left-right);
    margin-top: clamp(3.6rem, 5vw, 5.3rem);
    margin-bottom: 4rem;
    border: 1px solid #F48065;
    font-size: clamp(1rem, 3vw, 1.4rem);
    line-height: 1.6rem;
    letter-spacing: clamp(.15rem, .3vw, .2rem);
}
.hero__media {
    margin-top: .8rem;
}
.hero__mediaRight {
    display: block;
    margin-left: auto;
    width: calc(100% - 56px);
    max-width: 925px;
}
.hero__mediaLeft {
    position: relative;
    margin-top: -40px;
    width: calc(100% - 169px);
    max-width: 410px;
}
.ritual {
    margin: 33px 36px 339px;
    text-align: center;
}
.ritual__header {
    text-align: center;
}
.heading-level-3--ritual {
    margin-bottom: 16px;
}
.button--ritual {
    margin-bottom: 40px;
}

.ritual__item {
    margin-bottom: 38px;
    overflow: hidden;
}
.ritual__item:last-child .item__content .paragraph--ritual {
    line-height: 20px;
}
.item__mediaCenter {
    width: 100%;
    max-width: 356px;
    transition: transform 0.5s ease-in-out;
}
.item__content {
    text-align: left;
    margin-top: 16px;
    margin-left: 7px;
}
.star {
    width: 10px;
    height: 9.3px;
}
.item__rating {
    line-height: 19px;
    margin-left: 2px;
    margin-bottom: 5px;
}
.item__rating span {
    font-size: 11px;
    line-height: 16px;
}
.paragraph--ritual {
    margin-bottom: 4px;
    line-height: 16px;
}
.item__price {
    font-family: 'wotfardMedium';
    font-size: 12px;
}
.item__button {
    margin-left: 6px;
    font-size: 12px;
    color: #F48065;
    letter-spacing: 1.05px;
    border: none;
    background: transparent;
    font-family: 'wotfardMedium';
    text-transform: uppercase;
}


@media (min-width:576px) {
    .hero {
        margin-top: 60px;
        margin-left: 40px;
    }
    .item__content {
        text-align: center;
    }
}
@media (min-width:768px) {
    .hero {
        margin-top: 80px;
        margin-left: 70px;
    }
    .hero span {
        font-family: "ivyModeLight";
        text-transform: capitalize;
    }
    .hero__media {
        margin-top: 0;
    }
    .ritual__list {
        display: flex;
        margin: 0 auto;
        max-width: calc(357*3px);
    }
    .item__content {
        margin-top: 24px;
        margin-left: 23px;
        text-align: left;
    }
    .paragraph--ritual {
        margin-bottom: .8rem;
    }
}
@media (min-width:1024px) {
    .hero {
        margin-top: 108px;
        margin-left: 110px;
    }
    .hero span {
        margin-bottom: 0;
    }
    .hero span::after {
        content: ":";
    }
    .hero__mediaLeft {
        margin-top: -848px;
        margin-left: 54px;
    }
    .ritual {
        margin-top: 13.8rem;
        margin-bottom: 14.3rem;
    }
    .heading-level-3--ritual {
        margin-bottom: 5.1rem;
    }
    .button--ritual {
        margin-bottom: 80px;
    }
    .item__media {
        overflow: hidden;
    }
    .ritual__item:hover .item__mediaCenter {
        transform: scale(1.1);
    }
    .ritual__item:last-child .item__content .paragraph--ritual {
        line-height: 16px;
        
    }
}
@media (min-width: 1300px) {
    .hero {
        margin-left: 131px;
    }
}
