@font-face {
    font-family: "wotfardRegular";
    src: url(/assets/Wotfard_Roman_Webfont/wotfard-regular-webfont.ttf);
}
@font-face {
    font-family: "ivyModeLight";
    src: url(/assets/IvyMode_Font/IvyModeLight/IvyModeLight.otf);
}

.hero {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}
.hero__pureRadiance {
    font-family: "wotfardRegular";
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero__exfoliating {
    font-family: "ivyModeLight";
    font-size: 48px;
    letter-spacing: 2px;
}
.hero__shop {
    padding: 8px 32px;
    margin-top: 36px;
    margin-bottom: 48px;
    font-family: 'wotfardRegular';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #F48065;
    outline: none;
    background: white;
}
.hero__bottom {
    overflow: hidden;
    text-align: right;
}
.hero__banner {
    position: relative;
    left: 54px;
    width: 100%;
    max-width: 925px;
    transform: scaleX(-1);
}
.hero__product {
    position: absolute;
    top: 93%;
    left: 0;
    width: 44%;
    max-width: 414px;
}

@media (min-width:576px) {
    .hero {
        margin-top: 60px;
        margin-left: 40px;
    }
    .hero__pureRadiance {
        font-size: 25px;
    }
    .hero__product {
        top: 65%;
    }
}
@media (min-width:768px) {
    .hero {
        margin-top: 80px;
        margin-left: 70px;
    }
    .hero__pureRadiance {
        font-family: "ivyModeLight";
        font-size: 48px;
        letter-spacing: 2px;
    }
    .hero__shop {
        padding: 17px 48px;
        font-size: 14px;
    }
}
@media (min-width:1024px) {
    .hero {
        margin-top: 108px;
        margin-right: 110px;
    }
    .hero__pureRadiance, .hero__exfoliating {
        font-size: 64px;
    }
    .hero__product {
        top: 50%;
    }
    .hero__banner {
        transform: scale(1);
    }
}
@media (min-width: 1300px) {
    .hero {
        margin-left: 131px;
    }
    .hero__product {
        top: 40%;
    }
}