/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* font-faces to be used for the page */
 @font-face {
  font-family: "wotfardMedium";
  src: url(./../assets/Wotfard_Roman_Webfont/wotfard-medium-webfont.ttf) format('truetype')

}
@font-face {
  font-family: "wotfardRegular";   
  src: url(/assets/Wotfard_Roman_Webfont/wotfard-regular-webfont.ttf);
}
@font-face {
  font-family: "ivyModeLight";
  src: url(/assets/IvyMode_Font/IvyModeLight/IvyModeLight.otf);
}
@font-face {
  font-family: "laLuxesRegular";
  src: url(/assets/La_Luxes_Font_Duo_+_Logos/Webfont/LaLuxesScript.woff2);
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "wotfardRegular";
  color: #2E251C;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* changing the font size of root to 10px for usage of rem*/

:root {
  font-size: 62.5%;
}

/* max-width of the page with background color */

.home {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(245 243 242);
}
/* Style for headings */
/* reset the properties for heading with common font-family */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "ivyModeLight", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: .2rem;
}
/* heading class styles for mobile devices */
.heading-level-1, 
.heading-level-3, 
.heading-level-4,
.heading-level-5 {
  font-size: 3.2rem;
  line-height: 4rem;
}

.heading-level-2 {
  font-size: 4.8rem;
  line-height: 5.4rem;
}

/* heading class styles for desktops*/
@media (min-width: 1024px) {
  
  .heading-level-1 {
    font-size: 8rem;
    line-height: 9.6rem;
  }
  
  .heading-level-2 {
    font-size: 6.4rem;
    line-height: 8.1rem;
  }
  
  .heading-level-3 {
    font-size: 4.8rem;
    letter-spacing: .15rem;
    line-height: 6.4rem;
  }
  .heading-level-4 {
    font-size: 3.6rem;
    letter-spacing: .164rem;
    line-height: 5.3rem;
  }
  .heading-level-5 {
    font-size: 3.6rem;
    letter-spacing: 0;
    line-height: 5.6rem;
  }
  
}

/* style for button */


/* style for links */
.link {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #F48065;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: 1rem;
}

@media (min-width:1024px) {
  .link {
    padding-bottom: 4px;
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
}

/* styles for paragraphs */

.paragraph {
  font-family: 'ivyModeLight';
  font-size: 2.1rem;
  letter-spacing: .175rem;
  line-height: 3.6rem;
}

@media (min-width:1024px) {
  .paragraph {
    font-size: 4.2rem;
    letter-spacing: .2rem;
    line-height: 6.4rem;
  }
}

.paragraph-small {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .108rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* global CSS */


/* naked button for links */



/* CSS for headings */

