.customer {
    position: relative;
    padding-top: 12.9rem;
    padding-bottom: 18rem;
    background-image: url(/img/quiz-bg.png);
    background-repeat: no-repeat;
    text-align: right;
}
.customer__contentTop, .customer__contentBottom {
    position: absolute;
    padding-top: 4.3rem;
    padding-left: 4.4rem;
    width: 33.4rem;
    height: 29.6rem;
    text-align: left;
}
.customer__contentTop {
    top: 25.6rem;
    left: 7.5rem;
    background: #E4DED5;
}
.customer__contentTop h3 {
    margin-right: 17.7rem;
    text-transform: capitalize;
}
.customer__content {
    margin-top: 1.1rem;
    margin-right: 5rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
.customer__contentBottom {
    top: 43.5rem;
    left: 40.5rem;
    color: white;
    background: #2E251C;
}
.customer__contentBottom a {
    color: white;
}