.wildly-collection {
    background-image: url(/img/wildly-bg-img.png);
    background-repeat: no-repeat;
}
.wildly {
    position: relative;

    background-color: rgba(244, 128, 101, .15);
}
.wildly__content {
    padding-top: 4.8rem;
}
.wildly__heading {
    margin-left: 2rem;
    text-align: center;
    margin-right: 2rem;
}
.wildly__heading-top span {
    display: inline;
}
.wildly__heading-bottom i {
    position: relative;
    margin-left: 0;
    font-size: 6.4rem;
    font-family: "laLuxesRegular";
    line-height: 4rem;
    letter-spacing: 0;
}
.heading-level-1 span i::after {
    content: "";
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    width: 100%;
    border: 1px solid #F48065;
}
.wildly__content-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 3.5rem;
    font-family: 'wotfardRegular';
    font-size: 1.4rem;
    letter-spacing: .117rem;
    line-height: 3.2rem;
    text-transform: uppercase;
}
.wildly__media {
    margin-top: 5.7rem;
    padding-bottom: 5.7rem;
}
.wildly__media-div {
    position: relative;
    display: flex;
}
.wildly__media-div picture {
    display: block;
    margin-left: 2.4rem;
    margin-bottom: 2.4rem;
}
.wildly__media-div p {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.wildly__green p, .wildly__chebula p {
    writing-mode: vertical-lr;
    transform: scale(-1);
    text-align: end;
}
.wildly__chebula p {
    margin-top: 4.1rem;
}

@media (min-width: 1024px) {
    .wildly {
        bottom: 6.2rem;
    }
    .wildly__content {
        padding-top: 22.1rem;
    }
    .wildly__heading {
        margin-left: 7.5rem;
        text-align: left;
    }
    .wildly__heading-top, .wildly__heading-bottom {
        display: inline-block;
    }
    .wildly__heading-top {
        margin-bottom: 3.6rem;
    }
    .wildly__heading-bottom i {
        display: inline-block;
        margin-left: 6.2rem;
        font-size: 15.7rem;
        line-height: 9.7rem;
    }
    .wildly__content-bottom {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 22.3rem;
        width: 66.6rem;
        font-family: 'wotfardMedium';
        font-size: 1.6rem;
        letter-spacing: .25rem;
        line-height: 1.6rem;
    }
    .wildly__media {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 18rem;
        margin-top: 19.5rem;
        text-align: right;
    }
    .wildly__green {
        margin-top: -33.5rem;
    }
    .wildly__papaya {
        margin-right: -12.6rem;
        flex-direction: column-reverse;
        text-align: right;
    }
    .wildly__chebula {
        margin-right: -6.45rem;
        margin-top: -4.8rem;
    }
}