
.wildly {
    position: relative;

    background-color: rgba(244, 128, 101, .15);
}
.wildly::after{
    content: "";
    display: block;
    position: absolute;
    top: 16.8rem;
    width: 100%;
    height: 100%;
    background-image: url(/img/wildly-bg-img.png);
    background-repeat: no-repeat;
    pointer-events: none;
}
.wildly__content {
    padding-top: 4.8rem;
}
.wildly__heading {
    margin-left: 2rem;
    text-align: center;
    margin-right: 2rem;
}
.wildly__heading-top span {
    display: inline;
}
.wildly__heading-bottom i {
    position: relative;
    margin-left: 0;
    font-size: 6.4rem;
    font-family: "laLuxesRegular";
    line-height: 4rem;
    letter-spacing: 0;
}
.heading-level-1 span i::after {
    content: "";
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    width: 100%;
    border: 1px solid #F48065;
}
.wildly__content-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 8.8rem;
    margin-left: 3.5rem;
    font-family: 'wotfardRegular';
    font-size: 1.4rem;
    letter-spacing: .117rem;
    line-height: 3.2rem;
    text-transform: uppercase;
}
.wildly__media {
    margin-top: 8rem;
    padding-bottom: 8rem;
}
.wildly__media-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.wildly__green {
    z-index: 3;
}
.wildly__papaya {
    margin-top: -1.6rem;
}
.wildly__chebula {
    margin-right: 2rem;
}
.wildly__media-item picture {
    display: block;
}
.wildly__media-item p {
    margin-right: 1.2rem;
    font-size: 1.1rem;
    letter-spacing: .15rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}
.wildly__green p, .wildly__chebula p {
    writing-mode: vertical-lr;
    transform: scale(-1);
}
.wildly__green p {
    text-align: end;
}
.wildly__green p span:last-child, .wildly__chebula p span:last-child {
    position: absolute;
    writing-mode: horizontal-tb;
    transform: scale(-1);
    width: max-content;
    right: 2.4rem;
}
.wildly__green p span:last-child {
    bottom: -2.4rem;
}
.wildly__chebula p span:last-child {
    top: -2.4rem;
}
.wildly__papaya p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

@media (min-width: 1024px) {
    .wildly {
        bottom: 6.9rem;
    }
    .wildly__content {
        padding-top: 22.1rem;
    }
    .wildly__heading {
        text-align: left;
    }
    .wildly__heading-top, .wildly__heading-bottom {
        display: inline-block;
    }
    .wildly__heading-top {
        margin-bottom: 3.6rem;
    }
    .wildly__heading-bottom i {
        display: inline-block;
        margin-left: 6.2rem;
        font-size: 15.7rem;
        line-height: 9.7rem;
    }
    .wildly__content-bottom {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6rem;
        width: 66.6rem;
        font-family: 'wotfardMedium';
        font-size: 1.6rem;
        letter-spacing: .25rem;
        line-height: 1.6rem;
    }
    .wildly__media {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 18rem;
        margin-top: 35rem;
        text-align: right;
    }
    .wildly__media-item p {
        margin-right: 0;
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
    .wildly__media-item picture {
        margin-left: 2.4rem;
        margin-bottom: 2.4rem;
    }
    .wildly__green {
        margin-top: -33.5rem;
    }
    .wildly__papaya {
        margin-top: 0;
        margin-right: -12.2rem;
        flex-direction: column-reverse;
        text-align: right;
    }
    .wildly__chebula {
        margin-right: -6.45rem;
        margin-top: -4.8rem;
    }
    .wildly__chebula p {
        margin-top: 4.1rem;
    }
    .wildly__papaya p {
        writing-mode: unset;
        transform: rotate(0deg);
    }
    .wildly__green p span:last-child, .wildly__chebula p span:last-child {
        position: unset;
        writing-mode: unset;   
    }
}

@media (min-width:1200px) {
    .wildly__heading {
        margin-left: 7.5rem;
    }
    .wildly__content-bottom {
        margin-left: 22.3rem;
    }
    .wildly__media {
        margin-top: 19.5rem;
    }
}